workflow.json
{
  "name": "Nexus_v6(ล่าสุดจริงๆ)ล่าสุด",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nexusopza",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1568,
        848
      ],
      "id": "113cedbf-a0a6-41af-80ac-f56f05c76144",
      "name": "Webhook",
      "webhookId": "f785e201-5998-4cca-bd9f-d9e69ca511e2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{'TASK-' + $now.toMillis()}}",
            "user_id": "={{$json.user_id}}",
            "task_name": "={{$json.task_name}}",
            "subject": "={{$json.subject}}",
            "task_type": "={{$json.task_type}}",
            "notified_1h": "false",
            "status": "pending",
            "created_at": "={{$json.created_at}}",
            "deadline_time": "={{$json.deadline_time}}",
            "notified_15m": "false",
            "has_time": "={{$json.has_time}}",
            "deadline_date": "={{$json.deadline_date}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline_date",
              "displayName": "deadline_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "deadline_time",
              "displayName": "deadline_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notified_1h",
              "displayName": "notified_1h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notified_15m",
              "displayName": "notified_15m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "has_time",
              "displayName": "has_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        0
      ],
      "id": "6cc0cd96-6970-41db-b833-7a69dd9cd86e",
      "name": "GSheet Add Task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5995b4c7-6035-4289-b3d3-38e15584a8f1",
              "name": "text",
              "value": "={{$json[\"body\"][\"events\"][0][\"message\"][\"text\"]}}",
              "type": "string"
            },
            {
              "id": "6de254a9-64e5-4721-b499-8f44410ef579",
              "name": "replyToken",
              "value": "={{$json[\"body\"][\"events\"][0][\"replyToken\"]}}",
              "type": "string"
            },
            {
              "id": "772b3b91-2dea-4f44-8f52-a24da2f2c1d2",
              "name": "userId",
              "value": "={{$json[\"body\"][\"events\"][0][\"source\"][\"userId\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        848
      ],
      "id": "f294e86a-3d22-4257-910b-e9b938fff512",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices?.[0]?.message?.content || '';\nconst sessionData = $('Code Merge Session1').first().json;\n\nlet parsed;\ntry {\n  const cleaned = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = {\n    intent: 'unknown',\n    process_status: 'complete',\n    task_name: '', subject: '', task_type: 'Personal',\n    deadline_date: '', deadline_time: '', has_time: false,\n    status: 'pending',\n    reply_message: 'ขอโทษครับ ระบบขัดข้องชั่วคราว กรุณาลองใหม่อีกครั้ง'\n  };\n}\n\nconst intent        = parsed.intent         || 'unknown';\nconst processStatus = parsed.process_status || 'complete';\n\n// MERGE session + ข้อมูลใหม่จาก LLM\nconst taskName     = parsed.task_name     || sessionData.session_task_name     || '';\nconst subject      = parsed.subject       || sessionData.session_subject       || '';\nconst taskType     = parsed.task_type     || sessionData.session_task_type     || 'Personal';\nconst deadlineDate = parsed.deadline_date || sessionData.session_deadline_date || '';\nconst deadlineTime = parsed.deadline_time || sessionData.session_deadline_time || '';\n\n// has_time: ใช้ parsed.has_time ก่อน ถ้าไม่มีค่อยดูจาก deadlineTime\nlet hasTime = false;\nif (typeof parsed.has_time === 'boolean') {\n  hasTime = parsed.has_time;\n} else if (typeof parsed.has_time === 'string') {\n  hasTime = parsed.has_time === 'true';\n} else {\n  hasTime = !!(deadlineTime && String(deadlineTime).trim() !== '');\n}\n\n// rowStatus:\n// 'session'  = incomplete รอ user ตอบคำถาม\n// 'pending'  = งานจริง\nconst rowStatus = (intent === 'add_task' && processStatus === 'incomplete')\n  ? 'session'\n  : 'pending';\n\nlet replyMessage = parsed.reply_message || '';\n\nif (intent === 'add_task' && processStatus === 'complete' && !parsed.reply_message) {\n  replyMessage = hasTime\n    ? `✅ บันทึกงานแล้วครับ!\\n\\n📌 ${taskName}\\n📚 ${subject || '-'}\\n🗂️ ${taskType}\\n📅 ${deadlineDate} เวลา ${deadlineTime}\\n\\nจะแจ้งเตือนก่อน 1 ชม. และ 15 นาทีนะครับ 🔔`\n    : `✅ บันทึกงานแล้วครับ!\\n\\n📌 ${taskName}\\n📚 ${subject || '-'}\\n🗂️ ${taskType}\\n📅 ${deadlineDate}\\n\\nจะแจ้งเตือนก่อน 24 ชม. และ 1 ชม. นะครับ 🔔`;\n}\nif (intent === 'complete_task' && !parsed.reply_message) {\n  replyMessage = `กำลังอัปเดตงาน \"${taskName}\" เป็น done ✅`;\n}\nif (intent === 'view_tasks' && !parsed.reply_message) {\n  replyMessage = 'กำลังดึงรายการงานค้างให้ครับ 📋';\n}\nif (intent === 'delete_task' && !parsed.reply_message) {\n  replyMessage = `กำลังลบงาน \"${taskName}\" ให้ครับ...`;\n}\nif (intent === 'edit_task' && !parsed.reply_message) {\n  replyMessage = `กำลังแก้ไขงาน \"${taskName}\" ให้ครับ...`;\n}\nif (intent === 'unknown' && !parsed.reply_message) {\n  replyMessage = '❓ ขอโทษครับ ไม่เข้าใจคำสั่งนี้\\n\\nลองพิมพ์แบบนี้นะครับ:\\n• \"มีแข่งพรุ่งนี้ 10 โมง\"\\n• \"ส่ง Report CSI403 วันที่ 20\"\\n• \"ทำ Assignment เสร็จแล้ว\"\\n• \"ลบงาน [ชื่องาน]\" หรือ \"เลื่อนงาน [ชื่องาน] เป็น [วัน]\"\\n• \"มีงานอะไรบ้าง\"';\n}\n\nreturn [{\n  json: {\n    intent,\n    process_status: processStatus,\n    user_id:    sessionData.userId,\n    replyToken: sessionData.replyToken,\n    task_name:     taskName,\n    subject,\n    task_type:     taskType,\n    deadline_date: deadlineDate,\n    deadline_time: deadlineTime,\n    has_time:      hasTime ? 'true' : 'false',\n    notified_1h:   'false',\n    notified_15m:  'false',\n    status:        rowStatus,\n    reply_message: replyMessage,\n    created_at:    new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        848
      ],
      "id": "1c3858d6-227a-4b26-9455-81076e7e5262",
      "name": "Code Parse Gemini1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "add_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "slot-incomplete"
                  },
                  {
                    "leftValue": "={{$json.process_status}}",
                    "rightValue": "incomplete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "slot-incomplete-2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "add_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c5e1a2a3-8887-4393-a959-ad734023e879"
                  },
                  {
                    "leftValue": "={{$json.process_status}}",
                    "rightValue": "complete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c5e1a2a3-complete"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "40e64871-0569-4663-a152-3b75a458446f",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "complete_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "129bc85e-4892-48e2-bc3d-fe1070c03a3b",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "view_tasks",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "delete-task-rule",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "delete_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "edit-task-rule",
                    "leftValue": "={{$json.intent}}",
                    "rightValue": "edit_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        768
      ],
      "id": "a0077f8f-6cae-40cf-83a6-6b99ddbf3ea3",
      "name": "Switch Intent1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{$json.user_id}}"
            },
            {
              "lookupColumn": "task_name",
              "lookupValue": "={{$json.task_name}}"
            },
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        368
      ],
      "id": "1fc16045-a4d0-48fc-8826-5fb947b87ac9",
      "name": "GSheet Find Task to Complete1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const found = $input.all();\nconst original = $('Code Parse Gemini1').first().json;\n\nif (found.length === 0 || found[0].json.row_number == null) {\n  return [{\n    json: {\n      user_id:      original.user_id,\n      replyToken:   original.replyToken,\n      reply_message:`❌ ไม่พบงาน \"${original.task_name}\" ในรายการ หรืองานนั้นเสร็จแล้ว`,\n      row_number:   null,\n      skip_update:  true\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    user_id:      original.user_id,\n    replyToken:   original.replyToken,\n    task_name:    found[0].json.task_name,\n    reply_message:`✅ อัปเดตสถานะงาน \"${found[0].json.task_name}\" เป็น done แล้วครับ!`,\n    row_number:   found[0].json.row_number,\n    skip_update:  false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        368
      ],
      "id": "31041f91-0c56-4641-b322-0ca1cda5c2f3",
      "name": "Code Prep Complete1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{$json.row_number}}",
            "status": "done"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        288
      ],
      "id": "2fd4bc69-4f6e-4556-bd03-3bd70945ffae",
      "name": "GSheet Update Status Done1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{$json.user_id}}"
            },
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        608
      ],
      "id": "8c4293e3-cab4-4de8-9a97-327900bd8914",
      "name": "GSheet Get Tasks1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst original = $('Code Parse Gemini1').first().json;\n\nlet message = '';\n\n// กรอง: เอาเฉพาะ pending (double-check กันพลาด)\nconst pendingRows = rows.filter(r =>\n  String(r.json.status).toLowerCase() === 'pending'\n);\n\nif (pendingRows.length === 0) {\n  message = '✅ ตอนนี้ไม่มีงานค้างเลยครับ ทำครบหมดแล้ว! 🎉';\n} else {\n  const tasks = pendingRows.map(r => r.json).map(t => {\n    const timeStr = t.deadline_time && String(t.deadline_time).trim() !== ''\n      ? String(t.deadline_time).trim()\n      : '07:00';\n    t._deadline = new Date(`${t.deadline_date}T${timeStr}:00+07:00`);\n    return t;\n  }).filter(t => !isNaN(t._deadline));\n\n  const sorted = tasks.sort((a, b) => a._deadline - b._deadline);\n\n  if (sorted.length === 0) {\n    message = '✅ ตอนนี้ไม่มีงานค้างเลยครับ 🎉';\n  } else {\n    const now = new Date();\n\n    // แยก overdue vs upcoming\n    const overdue  = sorted.filter(t => t._deadline < now);\n    const upcoming = sorted.filter(t => t._deadline >= now);\n\n    message = `📋 งานค้างทั้งหมด (${sorted.length} งาน)\\n`;\n    message += `─────────────────\\n`;\n\n    if (overdue.length > 0) {\n      message += `\\n🔴 เลยกำหนดแล้ว (${overdue.length})\\n`;\n      overdue.forEach((task, i) => {\n        const dl = task._deadline;\n        const dlStr = dl.toLocaleDateString('th-TH', {\n          month: 'short', day: 'numeric',\n          hour: '2-digit', minute: '2-digit',\n          timeZone: 'Asia/Bangkok'\n        });\n        message += `${i+1}. ❗ ${task.task_name}\\n`;\n        message += `   📚 ${task.subject || '-'} | 📅 ${dlStr}\\n`;\n      });\n    }\n\n    if (upcoming.length > 0) {\n      message += `\\n📌 งานที่ยังไม่ถึงกำหนด (${upcoming.length})\\n`;\n      upcoming.forEach((task, i) => {\n        const dl = task._deadline;\n        const now2 = new Date();\n        const minsLeft  = Math.round((dl - now2) / 60000);\n        const hoursLeft = minsLeft / 60;\n        const daysLeft  = hoursLeft / 24;\n\n        let urgency = '';\n        if (minsLeft < 60)       urgency = '🚨';\n        else if (hoursLeft < 24) urgency = '🟠';\n        else if (daysLeft <= 3)  urgency = '🟡';\n        else                     urgency = '🟢';\n\n        const dlStr = dl.toLocaleDateString('th-TH', {\n          month: 'short', day: 'numeric',\n          hour: '2-digit', minute: '2-digit',\n          timeZone: 'Asia/Bangkok'\n        });\n\n        const timeLeft = daysLeft >= 1\n          ? `อีก ${Math.floor(daysLeft)} วัน`\n          : `อีก ${Math.floor(hoursLeft)} ชม.`;\n\n        message += `${i+1}. ${urgency} ${task.task_name}\\n`;\n        message += `   📚 ${task.subject || '-'} | ⏰ ${dlStr} (${timeLeft})\\n`;\n      });\n    }\n\n    message += `\\n─────────────────\\nพิมพ์ \"ทำ [ชื่องาน] เสร็จแล้ว\" เพื่ออัปเดตนะครับ ✏️`;\n  }\n}\n\nreturn [{\n  json: {\n    user_id:       original.user_id,\n    replyToken:    original.replyToken,\n    reply_message: message\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        608
      ],
      "id": "261d3df5-b579-454a-8101-3dc4e53dda55",
      "name": "Code Format Task List1"
    },
    {
      "parameters": {
        "jsCode": "const original = $input.first().json;\nreturn [{\n  json: {\n    user_id:       original.user_id,\n    replyToken:    original.replyToken,\n    reply_message: '❓ ขอโทษครับ ไม่เข้าใจคำสั่งนี้\\n\\nลองพิมพ์แบบนี้นะครับ:\\n• \"มีประชุม 10 โมงพรุ่งนี้\" → แจ้งเตือน 3 ชม.+15 นาทีก่อน\\n• \"กำหนดส่ง Report CSI403 วันที่ 20\" → แจ้งเตือน 24 ชม.+1 ชม.ก่อน\\n• \"ทำ Assignment CSI401 เสร็จแล้ว\"\\n• \"มีงานอะไรบ้าง\"'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1584
      ],
      "id": "73b09476-d656-4eb7-a397-6b87c52ad58e",
      "name": "Code Unknown Intent1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst base = $('Code Parse Gemini1').first().json;\n\nconst replyMsg   = item.reply_message || base.reply_message || 'ดำเนินการเรียบร้อยครับ ✅';\nconst replyToken = item.replyToken    || base.replyToken    || '';\n\nreturn [{ json: { replyToken, reply_message: replyMsg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        768
      ],
      "id": "63be7de7-e87f-4f50-a4d5-809c03bfcfc5",
      "name": "Code Merge Reply1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1568,
        1808
      ],
      "id": "d3de2306-60b1-49b2-a4e6-fbb7696d4997",
      "name": "Schedule Deadline Checker1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1344,
        1808
      ],
      "id": "fa30e047-70cd-4eaa-bce7-e8298afe252f",
      "name": "GSheet Get Pending Tasks1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\n// เวลาปัจจุบันในโซนไทย\nconst nowParts = new Intl.DateTimeFormat('en-GB', {\n  timeZone: 'Asia/Bangkok',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hourCycle: 'h23',\n}).formatToParts(new Date());\n\nconst getPart = (type) => nowParts.find(p => p.type === type)?.value || '';\n\nconst nowY = Number(getPart('year'));\nconst nowM = Number(getPart('month'));\nconst nowD = Number(getPart('day'));\nconst nowH = Number(getPart('hour'));\nconst nowMin = Number(getPart('minute'));\n\nconst nowUtcMs = Date.UTC(nowY, nowM - 1, nowD, nowH, nowMin);\n\nfor (const item of items) {\n  const task = item.json;\n\n  if (!task.task_id) continue;\n  if (!task.user_id) continue;\n  if (!task.deadline_date) continue;\n  if (String(task.status).toLowerCase() !== 'pending') continue;\n\n  // deadline_date ต้องเป็น YYYY-MM-DD\n  const dateStr = String(task.deadline_date).trim();\n  const dateParts = dateStr.split('-');\n  if (dateParts.length !== 3) continue;\n\n  const year = Number(dateParts[0]);\n  const month = Number(dateParts[1]);\n  const day = Number(dateParts[2]);\n\n  // ถ้าไม่มีเวลา ใช้ 07:00\n  let hour = 7;\n  let minute = 0;\n\n  if (task.deadline_time && String(task.deadline_time).trim() !== '') {\n    const rawTime = String(task.deadline_time).trim();\n    const timeParts = rawTime.split(':');\n\n    if (timeParts.length === 2) {\n      hour = Number(timeParts[0]);\n      minute = Number(timeParts[1]);\n    }\n  }\n\n  if (\n    Number.isNaN(year) ||\n    Number.isNaN(month) ||\n    Number.isNaN(day) ||\n    Number.isNaN(hour) ||\n    Number.isNaN(minute)\n  ) {\n    continue;\n  }\n\n  const deadlineUtcMs = Date.UTC(year, month - 1, day, hour, minute);\n  const minsLeft = Math.round((deadlineUtcMs - nowUtcMs) / 60000);\n\n  // เลยเวลาแล้ว ข้าม\n  if (minsLeft <= 0) continue;\n\n  const notified1h = String(task.notified_1h).toLowerCase() === 'true';\n  const notified15m = String(task.notified_15m).toLowerCase() === 'true';\n\n  let notifyKey = '';\n  let prefix = '';\n\n  // ก่อน 15 นาที\n  if (minsLeft <= 15 && !notified15m) {\n    notifyKey = 'notified_15m';\n    prefix = '⏰ อีก 15 นาทีจะถึงกำหนดแล้ว';\n  }\n  // ก่อน 1 ชั่วโมง\n  else if (minsLeft <= 60 && !notified1h) {\n    notifyKey = 'notified_1h';\n    prefix = '🔔 อีก 1 ชั่วโมงจะถึงกำหนดแล้ว';\n  } else {\n    continue;\n  }\n\n  const hh = String(hour).padStart(2, '0');\n  const mm = String(minute).padStart(2, '0');\n\n  const pushMessage =\n    `${prefix}\\n\\n` +\n    `📌 ${task.task_name || '-'}\\n` +\n    `📚 ${task.subject || '-'}\\n` +\n    `🗂️ ${task.task_type || '-'}\\n` +\n    `📅 กำหนด: ${dateStr} ${hh}:${mm}`;\n\n  results.push({\n    json: {\n      task_id: task.task_id,\n      user_id: task.user_id,\n      notify_key: notifyKey,\n      push_message: pushMessage,\n      mins_left: minsLeft\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        1808
      ],
      "id": "3d80f368-feb8-4a00-8b5c-4a95000bcadc",
      "name": "Code Check Deadline Hours1",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "notified_1h": "={{$('Code Check Deadline Hours1').item.json.notify_key === 'notified_1h' ? 'true' : 'false'}}",
            "notified_15m": "={{$('Code Check Deadline Hours1').item.json.notify_key === 'notified_15m' ? 'true' : 'false'}}",
            "task_id": "={{$('Code Check Deadline Hours1').item.json.task_id}}"
          },
          "matchingColumns": [
            "task_id"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deadline_date",
              "displayName": "deadline_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deadline_time",
              "displayName": "deadline_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notified_1h",
              "displayName": "notified_1h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notified_15m",
              "displayName": "notified_15m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "has_time",
              "displayName": "has_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -672,
        1808
      ],
      "id": "495f812d-6168-4f0d-8f06-b51107d3525a",
      "name": "GSheet Update Notified Flag1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1568,
        2032
      ],
      "id": "02089a44-76b1-41ec-9491-ee4f674df595",
      "name": "Schedule Morning Brief1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1344,
        2032
      ],
      "id": "10847aa7-a413-4fee-80a2-a5780c2e5f96",
      "name": "GSheet Get All Pending Morning1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst now = new Date();\n\nconst userMap = {};\nfor (const item of items) {\n  const task = item.json;\n  // กรองเฉพาะ pending (ไม่เอา done, session)\n  if (!task.user_id || !task.deadline_date) continue;\n  if (String(task.status).toLowerCase() !== 'pending') continue;\n\n  const timeStr = task.deadline_time && String(task.deadline_time).trim() !== ''\n    ? String(task.deadline_time).trim()\n    : '07:00';\n  task._deadline = new Date(`${task.deadline_date}T${timeStr}:00+07:00`);\n  if (isNaN(task._deadline)) continue;\n\n  if (!userMap[task.user_id]) userMap[task.user_id] = [];\n  userMap[task.user_id].push(task);\n}\n\nconst results = [];\nfor (const [userId, tasks] of Object.entries(userMap)) {\n  const sorted = tasks.sort((a, b) => a._deadline - b._deadline);\n\n  const overdue  = sorted.filter(t => t._deadline < now);\n  const upcoming = sorted.filter(t => {\n    const daysLeft = (t._deadline - now) / 86400000;\n    return daysLeft >= 0 && daysLeft <= 7;\n  });\n  const allPending = sorted.filter(t => t._deadline >= now);\n\n  let message = `🌅 อรุณสวัสดิ์ครับ! สรุปงานประจำวัน\\n`;\n  message += `📅 ${now.toLocaleDateString('th-TH', {\n    weekday:'long', year:'numeric', month:'long', day:'numeric',\n    timeZone:'Asia/Bangkok'\n  })}\\n`;\n  message += `─────────────────\\n`;\n\n  if (overdue.length > 0) {\n    message += `\\n🔴 เลยกำหนดแล้ว! (${overdue.length} งาน)\\n`;\n    overdue.forEach(task => {\n      const dl = task._deadline;\n      const dlStr = dl.toLocaleDateString('th-TH', {month:'short', day:'numeric', hour:'2-digit', minute:'2-digit', timeZone:'Asia/Bangkok'});\n      message += `❗ ${task.task_name} (${task.subject || '-'}) — ${dlStr}\\n`;\n    });\n  }\n\n  if (upcoming.length > 0) {\n    message += `\\n⚡ งาน deadline ใน 7 วัน (${upcoming.length} งาน)\\n`;\n    upcoming.forEach(task => {\n      const dl = task._deadline;\n      const daysLeft  = Math.round((dl - now) / 86400000);\n      const hoursLeft = Math.round((dl - now) / 3600000);\n      const dlStr = dl.toLocaleDateString('th-TH', {month:'short', day:'numeric', hour:'2-digit', minute:'2-digit', timeZone:'Asia/Bangkok'});\n      const urgency = hoursLeft < 3 ? '🔴' : hoursLeft < 6 ? '🟠' : daysLeft <= 1 ? '🟡' : '🟢';\n      message += `${urgency} ${task.task_name} (${task.subject || '-'}) — ${dlStr}\\n`;\n    });\n  } else if (overdue.length === 0) {\n    message += `\\n✅ ไม่มีงาน deadline ใน 7 วันข้างหน้า\\n`;\n  }\n\n  message += `\\n─────────────────`;\n  message += `\\n📊 งานค้างรวม: ${allPending.length} งาน`;\n  message += `\\nสู้ๆ นะครับ! 💪`;\n\n  results.push({ json: { user_id: userId, push_message: message } });\n}\n\nif (results.length === 0) return [];\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        2032
      ],
      "id": "36ed4799-aaf8-4e5b-9d4d-dc0a96e3340a",
      "name": "Code Build Morning Brief1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer BXaeXNRnSkCP/d0Fi8h2NMAuXIML28ZPNY8Lkbswh+muo1z8+KZ36ugzDhtjFANRAhcg6l+Evpqhcw7SFx+1njJweT2P1hcWH3j8gcaRUB/mPgiCyW2v3CKDfilidy7i4t9yWotGb1hm2VPkXAgxYwdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    to: $json.user_id,\n    messages: [\n      {\n        type: \"text\",\n        text: $json.push_message\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        2032
      ],
      "id": "f8055bdb-2274-4931-a645-439dff635316",
      "name": "LINE Push Morning Brief1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer BXaeXNRnSkCP/d0Fi8h2NMAuXIML28ZPNY8Lkbswh+muo1z8+KZ36ugzDhtjFANRAhcg6l+Evpqhcw7SFx+1njJweT2P1hcWH3j8gcaRUB/mPgiCyW2v3CKDfilidy7i4t9yWotGb1hm2VPkXAgxYwdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "replyToken",
              "value": "={{$json.replyToken}}"
            },
            {
              "name": "messages",
              "value": "={{ [ { type: \"text\", text: $json.reply_message } ] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        768
      ],
      "id": "6c530b80-2903-484d-9304-1147ffd9574a",
      "name": "LINE Reply API1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://minddatatech.com/llm-api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-fa-4aec7bd976fc7a6c8ef8afaf5bbb3521bebdceca8ca5551c"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    model: \"gpt-oss:20b\",\n    messages: [\n      {\n        role: \"system\",\n        content: `วิเคราะห์ข้อความจากผู้ใช้ แล้วตอบเป็น JSON เท่านั้น ห้ามมี markdown ห้ามมีคำอธิบายเพิ่ม ห้ามมีข้อความอื่นนอกจาก JSON\n\n== Context จาก session ก่อนหน้า ==\ntask_name: ` + $json.session_task_name + `\nsubject: ` + $json.session_subject + `\ntask_type: ` + $json.session_task_type + `\ndeadline_date: ` + $json.session_deadline_date + `\ndeadline_time: ` + $json.session_deadline_time + `\nhas_pending_session: ` + $json.has_pending_session + `\nวันที่วันนี้ (Bangkok): ` + $now.toFormat('yyyy-MM-dd') + `\n\n== กฎสำคัญที่สุด: has_pending_session ==\nถ้า has_pending_session = \"true\":\n  → intent = \"add_task\" เสมอ\n  → ผู้ใช้กำลังตอบคำถามที่ bot ถามไว้รอบก่อน\n  → ให้เอาข้อมูล session ที่มีอยู่ + ข้อความใหม่ มา MERGE กัน\n  → ห้ามสร้าง task ใหม่ ห้าม treat ข้อความสั้นๆ ว่าเป็นคำสั่งใหม่\n  ตัวอย่าง:\n    session: task_name=\"แข่ง\" deadline_date=\"2025-04-18\" (ไม่มีเวลา)\n    user พิมพ์: \"10 โมง\"\n    → task_name=\"แข่ง\" deadline_date=\"2025-04-18\" deadline_time=\"10:00\" has_time=true process_status=\"complete\"\n\n  ตัวอย่าง:\n    session: task_name=\"แข่ง\" (ไม่มีทั้ง date และ time)\n    user พิมพ์: \"พรุ่งนี้ตี 5\"\n    → task_name=\"แข่ง\" deadline_date=(วันพรุ่งนี้) deadline_time=\"05:00\" has_time=true process_status=\"complete\"\n\n== รูปแบบ JSON ที่ต้องตอบ ==\n{\n  \"intent\": \"add_task | complete_task | view_tasks | unknown\",\n  \"process_status\": \"complete | incomplete\",\n  \"task_name\": \"\",\n  \"subject\": \"\",\n  \"task_type\": \"Assignment | Meeting | Personal\",\n  \"deadline_date\": \"YYYY-MM-DD\",\n  \"deadline_time\": \"HH:mm\",\n  \"has_time\": false,\n  \"status\": \"pending\",\n  \"reply_message\": \"\"\n}\n\n== กติกา intent ==\n- add_task      → ผู้ใช้เพิ่มงานใหม่ หรือกำลังตอบ follow-up ของ bot\n- complete_task → ผู้ใช้บอกว่างานเสร็จแล้ว (เช่น \"ส่งแล้ว\", \"เสร็จแล้ว\", \"ทำเสร็จ\")\n- view_tasks    → ผู้ใช้ถามดูรายการงาน (\"มีงานอะไรบ้าง\", \"งานค้างมีอะไร\")\n- delete_task   → ผู้ใช้ต้องการลบงาน (เช่น \"ลบงาน X\", \"ยกเลิกงาน X\", \"ไม่ต้องทำ X แล้ว\", \"ลบทิ้ง X\")\n- edit_task     → ผู้ใช้ต้องการแก้ไขงาน (เช่น \"เลื่อนงาน X เป็นวันที่ Y\", \"แก้เวลางาน X เป็น 10 โมง\", \"เปลี่ยน deadline X\")\n- unknown       → ไม่เข้าใจ\n\n== กติกาพิเศษสำหรับ delete_task และ edit_task ==\n- task_name คือชื่องานที่ผู้ใช้ระบุ (เพื่อค้นหาใน database)\n- สำหรับ edit_task: deadline_date และ deadline_time คือค่าใหม่ที่ต้องการแก้ไข ถ้าไม่ได้บอกให้เป็น \"\"\n- process_status = \"complete\" เสมอสำหรับ delete_task และ edit_task\n\n== กติกา process_status (เฉพาะ add_task) ==\n- \"complete\"   → มี task_name และ deadline_date ครบ (หลัง merge session แล้ว)\n- \"incomplete\" → ยังขาด task_name หรือ deadline_date → reply_message ถามเฉพาะสิ่งที่ขาด ถามทีละอย่าง\n  เช่น ถ้าขาดเวลา: \"วันไหนดีครับ?\" ถ้าขาดเวลา: \"กี่โมงดีครับ?\"\n- intent อื่น → process_status = \"complete\" เสมอ\n\n== กติกา task_type ==\n- Meeting    → ประชุม นัด พบอาจารย์ แข่ง ซ้อม กิจกรรม สอบ\n- Assignment → งาน ส่งรายงาน การบ้าน โปรเจกต์ report quiz\n- Personal   → เรื่องทั่วไปอื่นๆ\nถ้า session มี task_type อยู่แล้วให้ใช้ค่านั้น อย่า override\n\n== กติกาวันที่ ==\n- deadline_date ต้องเป็น YYYY-MM-DD เสมอ\n- \"พรุ่งนี้\" = วันถัดจากวันนี้\n- \"มะรืน\" = สองวันถัดจากวันนี้\n- \"วันจันทร์\" = วันจันทร์ที่ใกล้ที่สุดที่ยังไม่ผ่านมา\n- \"วันที่ 20\" = วันที่ 20 ของเดือนปัจจุบัน (ถ้าผ่านแล้วให้เป็นเดือนหน้า)\n- ถ้า session มี deadline_date อยู่แล้ว และ user ไม่ได้บอกวันใหม่ → ใช้ค่าเดิม\n\n== กติกาเวลา ==\n- deadline_time ต้องเป็น HH:mm (24 ชม.)\n- \"10 โมง\" / \"10 โมงเช้า\" = \"10:00\"\n- \"บ่าย 2\" / \"14.00\" = \"14:00\"\n- \"ตี 3\" = \"03:00\"\n- \"เย็น 5\" = \"17:00\"\n- \"เที่ยง\" = \"12:00\"\n- \"ทุ่มครึ่ง\" = \"19:30\"\n- has_time = true เมื่อมีเวลาชัดเจน, false เมื่อไม่มี\n- ถ้า session มี deadline_time อยู่แล้ว และ user ไม่ได้บอกเวลาใหม่ → ใช้ค่าเดิม\n\n== กติกา subject ==\n- ใส่ชื่อวิชา/หมวดหมู่ถ้ามี เช่น \"CSI403\", \"ภาษาอังกฤษ\"\n- ถ้าไม่มีให้เป็น \"\"\n- ถ้า session มีอยู่แล้วให้ใช้ค่าเดิม\n\n== กติกา reply_message ==\n- ถ้า incomplete: ถามเฉพาะ field ที่ขาด เช่น \"กี่โมงดีครับ?\" หรือ \"วันไหนครับ?\"\n- ถ้า complete: ให้เป็น \"\" (โค้ดจะสร้างเอง)\n- ต้องเป็นภาษาไทย กระชับ สุภาพ`\n      },\n      {\n        role: \"user\",\n        content: $json.text\n      }\n    ]\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -672,
        848
      ],
      "id": "deaacb3e-b17d-49d8-bbef-b4a2e78da021",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer BXaeXNRnSkCP/d0Fi8h2NMAuXIML28ZPNY8Lkbswh+muo1z8+KZ36ugzDhtjFANRAhcg6l+Evpqhcw7SFx+1njJweT2P1hcWH3j8gcaRUB/mPgiCyW2v3CKDfilidy7i4t9yWotGb1hm2VPkXAgxYwdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    to: $json.user_id,\n    messages: [\n      {\n        type: \"text\",\n        text: $json.push_message\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -896,
        1808
      ],
      "id": "729ca9fd-7057-4b3b-b6e0-e7cf3dbeb337",
      "name": "LINE Push API1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{$json.userId}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1120,
        848
      ],
      "id": "cc1d6c25-4974-457b-a139-b8fd05d3b06f",
      "name": "GSheet Read Session1",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const editFields = $('Edit Fields').first().json;\nconst sessionRows = $input.all();\n\n// หา row ที่เป็น session จริงๆ (status='session' = incomplete turn ก่อนหน้า)\nconst sessionRow = sessionRows.find(r =>\n  String(r.json.status).toLowerCase() === 'session'\n) || null;\n\nconst session = sessionRow ? sessionRow.json : {};\n\nreturn [{\n  json: {\n    userId:       editFields.userId,\n    replyToken:   editFields.replyToken,\n    text:         editFields.text,\n    session_task_name:     session.task_name     || '',\n    session_subject:       session.subject       || '',\n    session_task_type:     session.task_type     || '',\n    session_deadline_date: session.deadline_date || '',\n    session_deadline_time: session.deadline_time || '',\n    session_has_time:      session.has_time      || '',\n    has_pending_session:   sessionRow ? 'true' : 'false'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        848
      ],
      "id": "c6dbb519-7f1e-4ee2-a545-a4a5a0afaedb",
      "name": "Code Merge Session1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}",
            "task_name": "={{ $json.task_name }}",
            "subject": "={{ $json.subject }}",
            "task_type": "={{ $json.task_type }}",
            "deadline_date": "={{ $json.deadline_date }}",
            "deadline_time": "={{ $json.deadline_time }}",
            "has_time": "={{ $json.has_time }}",
            "status": "session",
            "notified_1h": "false",
            "notified_15m": "false",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [
            "user_id",
            "status"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "task_name",
              "displayName": "task_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline_date",
              "displayName": "deadline_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline_time",
              "displayName": "deadline_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notified_1h",
              "displayName": "notified_1h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notified_15m",
              "displayName": "notified_15m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_time",
              "displayName": "has_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        1104
      ],
      "id": "440755c3-377e-48a1-86bd-a1eb178ccf51",
      "name": "GSheet Save Session1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        0
      ],
      "id": "d9a86fcd-feed-49b3-8c13-3dc8a4cb7fd1",
      "name": "GSheet Clear Session1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{$json.user_id}}"
            },
            {
              "lookupColumn": "deadline_date",
              "lookupValue": "={{$json.deadline_date}}"
            },
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        80
      ],
      "id": "a35bf305-cedf-4309-b559-516772616f03",
      "name": "GSheet Check Conflict",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst rows = $input.all();\nconst parsed = $('Code Parse Gemini1').first().json;\n\nconst newDate = parsed.deadline_date || '';\nconst newTime = parsed.deadline_time || '';\nconst newTaskType = parsed.task_type || '';\n\n// Only check time conflict for Meeting tasks that have a time\nconst shouldCheckTime = newTaskType === 'Meeting' && newTime !== '';\n\nlet conflicts = [];\n\nif (shouldCheckTime) {\n  const [newH, newM] = newTime.split(':').map(Number);\n  const newMins = newH * 60 + newM;\n\n  for (const row of rows) {\n    const t = row.json;\n    if (!t.deadline_time || t.deadline_time === '') continue;\n    if (t.task_name === parsed.task_name) continue; // skip same task\n\n    const [h, m] = String(t.deadline_time).split(':').map(Number);\n    const existMins = h * 60 + m;\n    const diff = Math.abs(newMins - existMins);\n\n    if (diff < 60) { // within 60 minutes = conflict\n      conflicts.push({\n        task_name: t.task_name,\n        deadline_time: t.deadline_time,\n        subject: t.subject || '-'\n      });\n    }\n  }\n}\n\nconst hasConflict = conflicts.length > 0;\n\nif (hasConflict) {\n  const conflictList = conflicts.map(c =>\n    `• ${c.task_name} (${c.subject}) เวลา ${c.deadline_time}`\n  ).join('\\n');\n\n  const warningMsg =\n    `⚠️ พบนัดซ้อนในวันที่ ${newDate}!\\n\\n` +\n    `งานที่ทับกัน:\\n${conflictList}\\n\\n` +\n    `ต้องการบันทึก \"${parsed.task_name}\" เวลา ${newTime} ต่อไหมครับ?`;\n\n  return [{\n    json: {\n      has_conflict: \"true\",\n      user_id:      parsed.user_id,\n      replyToken:   parsed.replyToken,\n      reply_message: warningMsg,\n      quick_reply_type: 'conflict_confirm',\n      // Pass through all task data so we can save later\n      pending_task: JSON.stringify({\n        user_id:       parsed.user_id,\n        task_name:     parsed.task_name,\n        subject:       parsed.subject,\n        task_type:     parsed.task_type,\n        deadline_date: parsed.deadline_date,\n        deadline_time: parsed.deadline_time,\n        has_time:      parsed.has_time,\n        created_at:    parsed.created_at\n      })\n    }\n  }];\n}\n\n// No conflict — pass through for normal save\nreturn [{\n  json: {\n    has_conflict: \"false\",\n    ...parsed\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        80
      ],
      "id": "2c39973d-be96-4589-b3a3-d785e72203e5",
      "name": "Code Detect Conflict"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "no-conflict",
                    "leftValue": "={{$json.has_conflict}}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        80
      ],
      "id": "0f7ce64f-f779-4e07-9652-499237ce3c80",
      "name": "Switch Conflict"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{$json.user_id}}"
            },
            {
              "lookupColumn": "task_name",
              "lookupValue": "={{$json.task_name}}"
            },
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        848
      ],
      "id": "fa2c1bb3-8ef5-4bad-bba2-dc1c33b5b3be",
      "name": "GSheet Find Task to Delete",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst found = $input.all();\nconst original = $('Code Parse Gemini1').first().json;\n\nif (found.length === 0 || found[0].json.row_number == null) {\n  return [{\n    json: {\n      user_id:      original.user_id,\n      replyToken:   original.replyToken,\n      reply_message: `❌ ไม่พบงาน \"${original.task_name}\" ในรายการครับ\\n\\nลองพิมพ์ \"มีงานอะไรบ้าง\" เพื่อดูชื่องานที่ถูกต้องนะครับ`,\n      skip_delete:  true,\n      row_number:   null\n    }\n  }];\n}\n\nconst task = found[0].json;\nreturn [{\n  json: {\n    user_id:      original.user_id,\n    replyToken:   original.replyToken,\n    task_name:    task.task_name,\n    reply_message: `🗑️ ลบงาน \"${task.task_name}\" เรียบร้อยแล้วครับ!`,\n    row_number:   task.row_number,\n    skip_delete:  false\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        848
      ],
      "id": "b2efbf81-b495-4f35-a527-506dc3fa1958",
      "name": "Code Prep Delete"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{$json.row_number}}",
            "status": "deleted"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        912
      ],
      "id": "1aa3d81e-a00c-41e0-aaa2-e1c6508ffc68",
      "name": "GSheet Delete Task",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "list",
          "cachedResultName": "Copy of NewCSI403",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{$json.user_id}}"
            },
            {
              "lookupColumn": "task_name",
              "lookupValue": "={{$json.task_name}}"
            },
            {
              "lookupColumn": "status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        1328
      ],
      "id": "e9f7c442-f2f5-427c-8bdf-f1bda8b16cb0",
      "name": "GSheet Find Task to Edit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst found = $input.all();\nconst original = $('Code Parse Gemini1').first().json;\n\nif (found.length === 0 || found[0].json.row_number == null) {\n  return [{\n    json: {\n      user_id:      original.user_id,\n      replyToken:   original.replyToken,\n      reply_message: `❌ ไม่พบงาน \"${original.task_name}\" ในรายการครับ\\n\\nลองพิมพ์ \"มีงานอะไรบ้าง\" เพื่อดูชื่องานที่ถูกต้องนะครับ`,\n      skip_edit:    true,\n      row_number:   null\n    }\n  }];\n}\n\nconst task = found[0].json;\nconst newDate = original.deadline_date || task.deadline_date;\nconst newTime = original.deadline_time || task.deadline_time || '';\nconst hasTime = newTime !== '';\n\nlet changeDesc = '';\nif (original.deadline_date && original.deadline_date !== task.deadline_date) {\n  changeDesc += `📅 วันที่: ${task.deadline_date} → ${newDate}\\n`;\n}\nif (original.deadline_time && original.deadline_time !== task.deadline_time) {\n  changeDesc += `⏰ เวลา: ${task.deadline_time || 'ไม่มี'} → ${newTime}\\n`;\n}\nif (!changeDesc) changeDesc = `📅 ${newDate}${hasTime ? ' ' + newTime : ''}\\n`;\n\nreturn [{\n  json: {\n    user_id:        original.user_id,\n    replyToken:     original.replyToken,\n    task_name:      task.task_name,\n    reply_message:  `✏️ แก้ไขงาน \"${task.task_name}\" เรียบร้อยแล้วครับ!\\n\\n${changeDesc}`,\n    row_number:     task.row_number,\n    new_deadline_date: newDate,\n    new_deadline_time: newTime,\n    new_has_time:   hasTime ? 'true' : 'false',\n    skip_edit:      false\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        1328
      ],
      "id": "af011335-c73c-4c68-97d8-dedb2127f535",
      "name": "Code Prep Edit"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 615510512,
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lBLT-m-s8j8RI-BVPFd2rffP9ftf0tQG3t9yrHmPgSU/edit#gid=615510512"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{$json.row_number}}",
            "deadline_date": "={{$json.new_deadline_date}}",
            "deadline_time": "={{$json.new_deadline_time}}",
            "has_time": "={{$json.new_has_time}}",
            "notified_1h": "false",
            "notified_15m": "false"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "deadline_date",
              "displayName": "deadline_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline_time",
              "displayName": "deadline_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "has_time",
              "displayName": "has_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notified_1h",
              "displayName": "notified_1h",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notified_15m",
              "displayName": "notified_15m",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        1392
      ],
      "id": "108de2d4-1cc8-4a06-ad57-1c567da408d5",
      "name": "GSheet Update Task Edit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tEqESgeot8cpqpu7",
          "name": "Google Sheets account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Add Task": {
      "main": [
        [
          {
            "node": "GSheet Clear Session1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "GSheet Read Session1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Parse Gemini1": {
      "main": [
        [
          {
            "node": "Switch Intent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intent1": {
      "main": [
        [
          {
            "node": "GSheet Save Session1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GSheet Check Conflict",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GSheet Find Task to Complete1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GSheet Get Tasks1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GSheet Find Task to Delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GSheet Find Task to Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Unknown Intent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Find Task to Complete1": {
      "main": [
        [
          {
            "node": "Code Prep Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prep Complete1": {
      "main": [
        [
          {
            "node": "GSheet Update Status Done1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Update Status Done1": {
      "main": [
        [
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Get Tasks1": {
      "main": [
        [
          {
            "node": "Code Format Task List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Format Task List1": {
      "main": [
        [
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Unknown Intent1": {
      "main": [
        [
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Merge Reply1": {
      "main": [
        [
          {
            "node": "LINE Reply API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Deadline Checker1": {
      "main": [
        [
          {
            "node": "GSheet Get Pending Tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Get Pending Tasks1": {
      "main": [
        [
          {
            "node": "Code Check Deadline Hours1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Check Deadline Hours1": {
      "main": [
        [
          {
            "node": "LINE Push API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Morning Brief1": {
      "main": [
        [
          {
            "node": "GSheet Get All Pending Morning1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Get All Pending Morning1": {
      "main": [
        [
          {
            "node": "Code Build Morning Brief1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Build Morning Brief1": {
      "main": [
        [
          {
            "node": "LINE Push Morning Brief1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code Parse Gemini1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINE Push API1": {
      "main": [
        [
          {
            "node": "GSheet Update Notified Flag1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Read Session1": {
      "main": [
        [
          {
            "node": "Code Merge Session1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Merge Session1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Save Session1": {
      "main": [
        [
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Clear Session1": {
      "main": [
        [
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Check Conflict": {
      "main": [
        [
          {
            "node": "Code Detect Conflict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Detect Conflict": {
      "main": [
        [
          {
            "node": "Switch Conflict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Conflict": {
      "main": [
        [
          {
            "node": "GSheet Add Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Find Task to Delete": {
      "main": [
        [
          {
            "node": "Code Prep Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prep Delete": {
      "main": [
        [
          {
            "node": "GSheet Delete Task",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Delete Task": {
      "main": [
        [
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Find Task to Edit": {
      "main": [
        [
          {
            "node": "Code Prep Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Prep Edit": {
      "main": [
        [
          {
            "node": "GSheet Update Task Edit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GSheet Update Task Edit": {
      "main": [
        [
          {
            "node": "Code Merge Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "39b3f367-ce0f-4342-9037-432eb88174e9",
  "meta": {
    "instanceId": "c6ea936472e83d981fde2e1f0a8b6d61fe0dc6b54f3a7d1b0fae6f08b4334cee"
  },
  "id": "WYGWgr1cwsUdRlFt",
  "tags": []
}